{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            &copy; Copyright {{"now"|date('Y')}} - Binet Julien
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}