{% extends '::layout/baseAdmin.html.twig' %}

{% block page_content %}
        <div class="container">
            <div class="row">
                <h1>Administration du site</h1>
            </div>

            <div class="row">
                <p>

                    liste des articles

                </p>
            </div>



        </div>

{% endblock %}

