{% extends '::layout/baseAdmin.html.twig' %}

{% block page_content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Nouvel Article</h3>
        </div>
    </div>

    <div class="x_panel">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {#<input type="submit" value="Valider" />#}
        <button type="submit" class="btn btn-round btn-success">Valider</button>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('post_index') }}">Retour à la liste</a>
            </li>
        </ul>

    </div>
{% endblock %}
