{% extends '::layout/baseAdmin.html.twig' %}

{% block body %}
    <h1>Nouvel Article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
