//inclure materialize.scss (ou pas)

body{
  font-family: 'Lato', sans-serif;
  background-color: #d7efef;
}

a{color:#000;}

nav .brand-logo{
  margin-left:15px;
}

.menu {
  background-color: #008080;
  .items {
    display: inline-block;
    left: 50%;
    margin: 0 auto;
    position: relative;
    transform: translateX(-50%);
  }
}

.home-header {
  padding: 315px 0;
  background: url("../../img/img7.jpeg") center top fixed;
  background-size: cover;
  margin-bottom: 50px;
  h1{
    color: #008888;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
  }
}

.category-header{
  padding: 130px 0;
  background: url("../../img/img7.jpeg") center top fixed;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
  h1 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
    margin: 0;
    color: #fff;
    bottom: 15px;
    font-size: 3.5em;
  }
  .overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 1;

  }
}

.list-post{
  img{
    display: block;
    transition: transform 0.5s ease-in-out;
  }
  .wrapper{
    overflow: hidden;
    position: relative;
    display: block;
    &:hover{
      img{
        transform: scale(1.2);
      }
      .valign-wrapper{
        opacity: 1;
      }
    }
  }
  .title{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    z-index:3;

    font-size: 1.6em;
    color: #ffffff;
    background: rgba(0,128,128,0.75);
  }
  .valign-wrapper{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    z-index: 2;
    width: 100%;

    transition: opacity 0.5s ease-in-out;
    opacity:0;
    background: rgba(0,128,128,0.75);
  }
  .content{
    color: #ffffff;
    text-align: center;
    width:100%;
    padding: 0 5px;
  }
  .meta {
    margin-bottom: 10px;
    padding: 5px;
    float: right;
    background-color: #fff;
    font-size: 0.8em;
    color: #888888;
    border: 1px solid #888888;
    border-top:none;
  }
}


.pagination li.active{
  background-color: #008888;
}

#post{

  .post-content{
    background-color: #fff;
    border: 1px solid #979797;
    margin-top: 15px;
    header {
      h1{
        margin:20px 10px;
        font-size: 2em;
      }
      img{
        display: block;
        margin:0 auto;
      }
    }
    .post-text{
      border-bottom: 1px solid #000;
      margin: 20px 0;
      padding-bottom: 10px;
    }
  }
  .sidebar{
    padding: 0;
    margin-top: 15px;
    .block{
      background-color: #fff;
      border: 1px solid #979797;
      margin-bottom: 15px;
      .title{
        margin:0;
        color:#fff;
        background-color: #008888;
        font-size:1.5em;
        padding: 10px;
      }
      .list{
        padding:10px;
        margin: 0;
        .list-item{
          margin-bottom: 5px;
        }
        .post-title{
          font-weight: bold;
        }
        .post-date{
          font-size: 0.9em;
          color: #777;
        }
      }
    }
  }
}


footer.page-footer{
  color:#fff;
  background-color: #000;
  a{
    color:#fff;
  }
}
