<nav>
    
    <ul class="list-unstyled">
        <li>
            menu
        </li>
        <li>
            menu
        </li>
    </ul>

        
    <ul class="list-unstyled">
        <li>
            menu
        </li>
        <li>
            menu
        </li>
    </ul>

        
    <ul class="list-unstyled">
        <li>
            menu
        </li>

    </ul>
 
</nav>