<nav>
    {% if is_granted('ROLE_ADMIN')%}
    Utilisateurs
    <ul class="list-unstyled">
        <li>
            <a href="">Ajouter</a>
        </li>
        <li><a href="{{ path('admin_users') }}">Liste</a></li>
    </ul>
    {% endif %}

    Articles
    <ul class="list-unstyled">
        <li>
            <a href="">Ajouter</a>
        </li>
        <li>
            <a href="">Listes</a>
        </li>
    </ul>

    Catégories
    <ul class="list-unstyled">
        <li>
            <a href="">Ajouter</a>
        </li>
        <li>
            <a href="">New</a>

        </li>

    </ul>

</nav>