<nav>
    {% if is_granted('ROLE_ADMIN')%}
    <span class="titre">Utilisateurs</span>
    <ul class="list-unstyled">
        <li>
            <a class="menu-item" href="">Ajouter</a>
        </li>
        <li><a class="menu-item" href="{{ path('admin_users') }}">Liste</a></li>
    </ul>
    {% endif %}

    <span class="titre">Articles</span>
    <ul class="list-unstyled">
        <li>
            <a class="menu-item" href="">Ajouter</a>
        </li>
        <li>
            <a class="menu-item" href="{{ path('post_index') }}">Listes</a>
        </li>
    </ul>

    <span class="titre">Catégories</span>
    <ul class="list-unstyled">
        <li>
            <a class="menu-item" href="">Ajouter</a>
        </li>
        <li>
            <a class="menu-item" href="">New</a>

        </li>

    </ul>

</nav>