{% extends '::layout/baseAdmin.html.twig' %}

{% block page_content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Nouveau tag</h3>
        </div>
    </div>

    <div class="x_panel">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-round btn-success">Valider</button>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('admin_tag_index') }}">Retour à la liste des tags</a>
            </li>
        </ul>
    </div>
{% endblock %}
